/* body takes up full viewport and extends all the way to the edges. */
html, body {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border: none;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    }  
  .logo {
    float: left;
    padding-left: 20px;
    color: #000;
    font-size: 16px; 
    font-weight: 900;
    }
    
    .nav-container {
        display: flex;
        justify-content: space-between;
        background-color: teal;
        padding: 20px 20px;
    }    
    .nav-items {
        display: flex;
        justify-content: flex-end;
        align-content: space-around;
        list-style-type: none;
        letter-spacing: normal;
    }
    
    .nav-item {
        padding: 0px 20px;
    }
    
    .nav-item > a {
        text-decoration: none;
        color: white;
    
    }

    .nav-item > a:visited {
        text-decoration: none;
        color: white;
    
    }

    .logo > a:visited {
        text-decoration: none;
        color: black;
    
    }
    /* basic link setup. */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}
  
a:active {
    color: black;
}
  
a:visited {
    color: teal;
}
/* basic link setup end. */

ul {
    margin: 0;
    padding: 0;
}

    .posts-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #box {
        border: 2px rgb(48, 48, 48) solid;
        margin: 10px;
        padding: 15px;
        width: 40%;
        -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.50);
        box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.50);
    }
    #link-container {
        font-size: 12px;

    }
    h4 {
        margin: 0 auto;
        padding-bottom: 5px;
    }